@model DataAccess.Model.Room
@{
    ViewBag.Title = "Úprava místnosti";
}

<h2>Úprava místnosti @Model.Name</h2>

@Html.ValidationSummary()

@using (Html.BeginForm("Update", "Room", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Name)

    <div class="form-group">
        @Html.LabelFor(x => x.MaxCapacity, "Maximální kapacita")
        @Html.TextBoxFor(x => x.MaxCapacity, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.MaxCapacity)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Description, "Popis")
        @Html.TextAreaFor(x => x.Description, new { @class = "form-control description-area" })
    </div>

    <button type="submit" class="btn btn-primary">Upravit místnost</button>
}
<a href="#" onclick="history.go(-1)" class="btn btn-default">
    Zpět
</a>
