@using DataAccess.Model
@model IList<Room>
@{
    ViewBag.Title = "Sály";
}

<h2>Sály</h2>

<table class="table table-bordered table-hover table-responsive table-condensed">
    <thead>
    <tr>
        <th>Název</th>
        <th>Kapacita</th>
        <th>Popis</th>
        <th>Akce</th>
    </tr>
    </thead>
    <tbody>
    @foreach (Room r in Model)
    {
        <tr>
            <td>@r.Name</td>
            <td>@r.MaxCapacity</td>
            <td>@r.Description</td>
            <td class="text-center">
                @Html.ActionLink(" ", "Delete", new { id = r.Id }, new { @class = "glyphicon glyphicon-trash btn btn-danger" })
                @Html.ActionLink(" ", "Edit", new { id = r.Id }, new { @class = "glyphicon glyphicon-pencil btn btn-default" })
            </td>
        </tr>
    }
    </tbody>
</table>
<div class="clearfix"></div>
<a href="@Url.Action("Create", "Room")" class="btn btn-primary">Vytvořit místnost</a>