@using DataAccess.Dao
@using DataAccess.Model
@using System.Globalization;
@model IList<Term>
@{
    ViewBag.Title = "Termíny";
    TermDao tDao = new TermDao();
}

<h2>Termíny</h2>

<table class="table table-bordered table-hover table-responsive table-condensed">
    <thead>
        <tr>
            <th>Aktivita</th>
            <th>Začátek</th>
            <th>Konec</th>
            <th>Volných míst</th>
            <th>Cena</th>
            <th>Rezervovat</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Term t in Model)
        {
            <tr>
                <td>@Html.ActionLink(@t.Activity.Name,"Add","Reservation", new { termId = t.Id })    </td>
                <td>@t.StartTerm.ToString("d.M.yyyy H:mm")</td>
                <td>@t.EndTerm.ToString("d.M.yyyy H:mm")</td>
                <td>@tDao.GetActualCapacity(t)</td>
                <td>@t.Activity.Price.ToString("C", new CultureInfo("cs-CZ"))</td>
                <td class="text-center">
                    @Html.ActionLink(" ", "Add","Reservation", new { id = t.Id }, new { @class = "glyphicon glyphicon-pencil btn btn-default" })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="clearfix"></div>
<a href="@Url.Action("Create","Term")" class="btn btn-primary">Vytvořit termín</a>