@using DataAccess.Dao
@using DataAccess.Model
@using System.Globalization;
@model IList<Term>
@{
    ViewBag.Title = "Termíny";
    TermDao tDao = new TermDao();
    UserDao uDao = new UserDao();
}

<h2>Termíny</h2>
<div class="panel">
    @*navigace pro kategorie*@
    <div class="panel-body" role="tabpanel">
        <ul class="nav nav-pills nav-justified">
            <li role="presentation" class="@(ViewBag.CurrentTerm == 1 ? "active" : "")">
                @Ajax.ActionLink("Nadcházející termíny", "Index", new { currentTerms = 1 }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "dynamicContent" })
            </li>

            <li role="presentation" class="@(ViewBag.CurrentTerm == 0 ? "active" : "")">
                @Ajax.ActionLink("Uplynulé termíny", "Role", new { currentTerms = 0 }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "dynamicContent" })
            </li>
        </ul>
    </div>
</div>
<table class="table table-bordered table-hover table-responsive table-condensed  table-striped">
    <thead>
        <tr>
            <th>Aktivita</th>
            <th>Začátek</th>
            <th>Konec</th>
            <th>Volných míst</th>
            <th>Cena</th>
            @if (ViewBag.CurrentTerm == 1)
            {
                <th>Akce</th>
            }           
        </tr>
    </thead>
    <tbody>
        @foreach (Term t in Model)
        {
            <tr>
                <td>@t.Activity.Name</td>
                <td>@t.StartTerm.ToString("d.M.yyyy H:mm")</td>
                <td>@t.EndTerm.ToString("d.M.yyyy H:mm")</td>
                <td>@tDao.GetActualCapacity(t)</td>
                <td>@t.Activity.Price.ToString("C", new CultureInfo("cs-CZ"))</td>
                @if (ViewBag.CurrentTerm == 1)
                {
                    <td class="text-center">
                        @Html.ActionLink(" ", "Delete", new { id = t.Id }, new { @class = "glyphicon glyphicon-trash btn btn-danger" })
                        @Html.ActionLink(" ", "Edit", new { id = t.Id }, new { @class = "glyphicon glyphicon-pencil btn btn-default" })
                    </td>
                }      
            </tr>

        }
    </tbody>
</table>
<div class="clearfix"></div>
@if (uDao.GetByLogin(User.Identity.Name).Role.Name == "Trenér")
{
    <a href="@Url.Action("Create","Term")" class="btn btn-primary">Vytvořit termín</a>
}
