
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fitness</title>

    <!-- Bootstrap core CSS -->

    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/bootstrap-theme.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/blog.css")" rel="stylesheet">
</head>

<body>

    
    
<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item @(ViewBag.Mark == null ? "active" : "")" href="@Url.Action("Index", "Home")">Home</a>
            <a class="blog-nav-item @(ViewBag.Mark == "Activity" ? "active" : "")" href="@Url.Action("Index", "Activity")">Aktivity</a>
            <a class="blog-nav-item @(ViewBag.Mark == "Term" ? "active" : "")" href="@Url.Action("Index", "Term")">Termíny</a>
            <a class="blog-nav-item @(ViewBag.Mark == "Machine" ? "active" : "")" href="@Url.Action("Index", "Machine")">Stroje</a>            
        </nav>
    </div>
</div>

<div class="container">

        <div class="row">
            <div class="col-sm-12 blog-main">
                @if (TempData["succes"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        @TempData["succes"]
                    </div>
                }else if (TempData["warning"] != null)
                {
                    <div class="alert alert-warning" role="alert">
                        @TempData["warning"]
                    </div>
                }
                @RenderSection("Sidebar",false)
                @RenderBody()

            </div><!-- /.blog-main -->

            @*<DIV CLASS="COL-SM-3 OFFSET-SM-1 BLOG-SIDEBAR">
                <DIV CLASS="SIDEBAR-MODULE SIDEBAR-MODULE-INSET">
                    @RenderSection("Sidebar", false)
                </div>
            </div>*@

        </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>

        <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate-vsdoc.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
        <script src="@Url.Content("~/Scripts/tinymce/tinymce.min.js")"></script>
        <script>tinyMCE.init({ selector: ".description-area" });</script>




    </body>
    </html>
