
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Fitness</title>

    <!-- Bootstrap core CSS -->

    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/blog.css")" rel="stylesheet">
</head>

<body>

    <div class="blog-masthead">
        <div class="container">
            <nav class="nav">
                <a class="nav-link active" href="@Url.Action("Index","Home")">Home</a>
                <a class="nav-link" href="@Url.Action("Index", "Activity")">Aktivity</a>
                <a class="nav-link" href="@Url.Action("Index", "Room")">Sály</a>
                <a class="nav-link" href="@Url.Action("Index", "User")">Uživatelé</a>
                <a class="nav-link" href="@Url.Action("Index", "Term")">Termíny</a>
                <a class="nav-link" href="@Url.Action("Index", "Reservation")">Rezervace</a>
                <a class="nav-link" href="@Url.Action("Index", "Machine")">Stroje</a>
            </nav>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-sm-12 blog-main">
                @if (TempData["succes"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        @TempData["succes"]
                    </div>
                }else if (TempData["warning"] != null)
                {
                    <div class="alert alert-warning" role="alert">
                        @TempData["warning"]
                    </div>
                }

                @RenderBody()

            </div><!-- /.blog-main -->

            @*<DIV CLASS="COL-SM-3 OFFSET-SM-1 BLOG-SIDEBAR">
                <DIV CLASS="SIDEBAR-MODULE SIDEBAR-MODULE-INSET">*@
                    @RenderSection("Sidebar", false)
                @*</div>
            </div>*@

        </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>

        <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate-vsdoc.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
        <script src="@Url.Content("~/Scripts/tinymce/tinymce.min.js")"></script>
        <script>tinyMCE.init({ selector: ".description-area" });</script>




    </body>
    </html>
