@model DataAccess.Model.Term
@{
    ViewBag.Title = "Nový termín";
}

<h2>Nový termín</h2>

@Html.ValidationSummary()

@using (Html.BeginForm("Add", "Term", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.LabelFor(x => x.StartTerm, "Začátek")
        @Html.TextBoxFor(x => x.StartTerm, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.EndTerm, "Konec")
        @Html.TextBoxFor(x => x.EndTerm, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Capacity, "Kapacita")
        @Html.TextBoxFor(x => x.Capacity, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.IsRepeatable, "Opakovatelný")
        @* PŘIDAT JAKO RADIO BUTTON @Html.TextAreaFor(x => x.IsRepeatable, new { @class = "form-control description-area" })*@
    </div>

    <button type="submit" class="btn btn-primary">Vytvoř termín</button>
}
