@using DataAccess.Dao
@using DataAccess.Model
@using System.Globalization;
@model IList<Term>
@{
    ViewBag.Title = "Termíny";
    TermDao tDao = new TermDao();
}

<h2>Termíny</h2>

<table class="table table-bordered table-hover table-responsive table-condensed table-striped">
    <thead>
    <tr>
        <th>Aktivita</th>
        <th>Začátek</th>
        <th>Konec</th>
        <th>Volných míst</th>
        <th>Cena</th>
    </tr>
    </thead>
    <tbody>
    @foreach (Term t in Model)
    {
        if (t.EndTerm >= DateTime.Now)
        {
            <tr>
                <td>@t.Activity.Name</td>
                <td>@t.StartTerm.ToString("d.M.yyyy H:mm")</td>
                <td>@t.EndTerm.ToString("d.M.yyyy H:mm")</td>
                <td>@tDao.GetActualCapacity(t)</td>
                <td>@t.Activity.Price.ToString("C", new CultureInfo("cs-CZ"))</td>
            </tr>
        }
    }
    </tbody>
</table>
<div class ="clearfix"></div>           

@section Sidebar
{
    <div class="col-sm-3">
        <div class="sidebar-module sidebar-module-inset">
            @using (Html.BeginForm("SignIn", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
            {

                <div class="form-group form-group-sm">
                    <label for="inputUserName" class="col-sm-4 control-label">Login</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control input-sm" id="inputUserName" placeholder="User Name" name="Login">
                    </div>
                </div>
                <div class="form-group form-group-sm ">
                    <label for="inputPassword" class="col-sm-4 control-label">Heslo</label>
                    <div class="col-xs-8">
                        <input type="password" class="form-control input-sm" id="inputPassword" placeholder="Password" name="Password">
                    </div>
                </div>
                <button class="btn btn-block btn-primary" type="submit">Přihlásit se</button>
            }
        </div>
    </div><!-- /.blog-sidebar -->
}
