@using DataAccess.Dao
@using DataAccess.Model
@using System.Globalization;
@model IList<Term>
@{
    ViewBag.Title = "Termíny";
    TermDao tDao = new TermDao();
}

<h2>Termíny</h2>

<table class="table table-bordered table-hover table-responsive table-condensed table-striped">
    <thead>
    <tr>
        <th>Aktivita</th>
        <th>Začátek</th>
        <th>Konec</th>
        <th>Volných míst</th>
        <th>Cena</th>
    </tr>
    </thead>
    <tbody>
    @foreach (Term t in Model)
    {
        if (t.EndTerm >= DateTime.Now)
        {
            <tr>
                <td>@t.Activity.Name</td>
                <td>@t.StartTerm.ToString("d.M.yyyy H:mm")</td>
                <td>@t.EndTerm.ToString("d.M.yyyy H:mm")</td>
                <td>@tDao.GetActualCapacity(t)</td>
                <td>@t.Activity.Price.ToString("C", new CultureInfo("cs-CZ"))</td>
            </tr>
        }
    }
    </tbody>
</table>
<div class ="clearfix"></div>           
<a href="@Url.Action("Create","Term")" class="btn btn-primary">Vytvořit termín</a>