@model DataAccess.Model.FitnessUser
@{
    ViewBag.Title = "EditLog";
}

<h2>Upravit přihlašovací údaje</h2>

@using (Html.BeginForm("UpdateLog", "User", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.BigImageName)
    @Html.HiddenFor(x => x.SmallImageName)
    @Html.HiddenFor(x => x.Role)
    @Html.HiddenFor(x => x.Name)
    @Html.HiddenFor(x => x.Surname)
    @Html.HiddenFor(x => x.Address)
    @Html.HiddenFor(x => x.LicenceList)
    @Html.HiddenFor(x => x.BirthNumber)
    @Html.HiddenFor(x => x.EmailAddress)
    @Html.HiddenFor(x => x.PhoneNumber)
    @Html.HiddenFor(x => x.Birthdate)

    <div class="form-inline form-group">

        <div class="col-sm-4">
            <label class="col-sm-4 control-label">Login *</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(x => x.Login, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Login)
            </div>
        </div>
        <div class="col-sm-4">
            <label class="col-sm-4 control-label">Heslo *</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @type = "password" })
                @Html.ValidationMessageFor(x => x.Password)
            </div>
        </div>

        <div class="col-sm-4">
            <label class="col-sm-4 control-label">Potvrzení hesla *</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", @type = "password" })
                @Html.ValidationMessageFor(x => x.ConfirmPassword)
            </div>
        </div>
    </div>
    <p style="font-size: 13px">Údaje označené(*) jsou povinné.</p>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Upravit údaje</button>
        </div>
    </div>
}
