@model DataAccess.Model.FitnessUser
@{
    ViewBag.Title = "Úprava zaměstnace";
}

<h2>Úprava zaměstnace</h2>

@using (Html.BeginForm("UpdateEmployee", "User", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.SmallImageName)
    @Html.HiddenFor(x => x.BigImageName)
    @Html.HiddenFor(x => x.Login)
    @Html.HiddenFor(x => x.Password)
    <input type="hidden" value="@Model.Address.Id" name="addressId" />
    <input type="hidden" value="@Model.Role.Id" name="roleId" />
    <input type="hidden" value="@Model.Password" name="ConfirmPassword" />

    <div class="form-group col-md-7">
        @Html.LabelFor(x => x.Name, "Jméno")
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="form-group col-md-7">
        @Html.LabelFor(x => x.Surname, "Příjmení")
        @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Surname)
    </div>
    <div class="form-group col-md-7">
        <label for="Birthdate" class="control-label">Datum narození</label>
        <div class='input-group date col-md-5' id='Birthdate'>
            <input type='text' id="Birthdate" name="Birthdate" class="form-control" value=@Model.Birthdate />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group col-md-7">
        @Html.LabelFor(x => x.BirthNumber, "Rodné číslo (bez lomítka)")
        @Html.TextBoxFor(x => x.BirthNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.BirthNumber)
    </div>
    <div class="form-group col-md-7">
        @Html.LabelFor(x => x.EmailAddress, "EmailAddress")
        @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.EmailAddress)
    </div>
    <div class="form-group col-md-7">
        @Html.LabelFor(x => x.PhoneNumber, "Telefon")
        @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.PhoneNumber)
    </div>
    <div class="form-group col-md-7">
        @Html.LabelFor(x => x.LicenceList, "Seznam licencí")
        @Html.TextBoxFor(x => x.LicenceList, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.LicenceList)
    </div>

    <div class="form-group col-md-7">
        <label for="picture" class="control-label">Fotografie</label>
        <input type="file" class="btn btn-default" id="picture" name="picture" />
    </div>
    if (Model.SmallImageName != null)
    {
        <div class="form-group">
            <img src="@Url.Content("~/Uploads/FitnessUser/" + Model.SmallImageName + ".jpg")" />
        </div>
    }

    <div class="form-group col-md-12">
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary">Upravit zaměstnance</button>
        </div>
        @if (Model.SmallImageName != null)
        {
            <div class="col-md-2">
                @Html.ActionLink("Smazat obrázek", "DeletePicture", "User", new { id = Model.Id }, new { @class = "btn btn-danger" })
            </div>
        }
        <a href="#" onclick="history.go(-1)" class="btn btn-default col-md-1">
            Zpět
        </a>
    </div>
}
<script type="text/javascript">
    $(function () {
        $('#Birthdate').datetimepicker({
            format: 'DD.MM.YYYY',
            useCurrent: false
        });
    });
</script>