@using DataAccess.Model
@model IList<DataAccess.Model.FitnessUser>
@{
    ViewBag.Title = "Uživatelé";
}

<h2>Uživatelé</h2>
<a href="@Url.Action("CreateEmployee","User")" class="btn btn-primary">Přidat zaměstnance</a>

<div class="panel">
    @*navigace pro kategorie*@
    <div class="panel-body" role="tabpanel">

        @if (ViewBag.Roles != null)
        {
            <ul class="nav nav-pills nav-justified">
                <li role="presentation" class="@(ViewBag.CurrentRole == null ? "active" : "")">
                    @Ajax.ActionLink("Všichni uživatelé", "Index", new { page = ViewBag.CurrentPage, item = ViewBag.Items }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "dynamicContent" })
                </li>
                @foreach (Role r in ViewBag.Roles)
                {
                    <li role="presentation" class="@(ViewBag.CurrentRole == r.Id ? "active" : "")">
                        @Ajax.ActionLink(r.Name, "Role", new { id = r.Id, page = ViewBag.CurrentPage, item = ViewBag.Items }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "dynamicContent" })
                    </li>
                }
            </ul>
        }
    </div>
</div>
<table class="table table-bordered table-hover table-responsive table-condensed">
    <thead>
        <tr>
            <th>Jméno</th>
            <th>Login</th>
            <th>Email</th>
            <th>Datum narozeni</th>
            <th>Akce</th>
        </tr>
    </thead>
    <tbody>
        @foreach (FitnessUser u in Model)
        {
            <tr>
                <td>
                    @u.Name @u.Surname
                </td>
                <td>@u.Login</td>
                <td>@u.EmailAddress</td>
                <td>@u.Birthdate.ToString("dd/MM/yyyy")</td>
                <td>
                    @if (u.Role.Name == "Údržbář" || u.Role.Name == "Trenér")
                {
                        @Html.ActionLink(" ", "EditEmployee", new { id = u.Id }, new { @class = "glyphicon glyphicon-pencil btn btn-default" })
                        @Html.ActionLink(" ", "Delete", new { id = u.Id }, new { @class = "glyphicon glyphicon-pencil btn btn-default" })
                    }
                    @Ajax.ActionLink(" ", "Detail", new { id = u.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "dynamicContent" }, new { @class = "glyphicon glyphicon-info-sign btn btn-default" })
                </td>

            </tr>
        }
    </tbody>
</table>
<div class="dropdown navbar-right">
    <label style="font-size: 10px">Počet záznamů na stránce</label>
    <button class="btn btn-xs btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        @ViewBag.Items
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        @for (int i = 5; i <= 20; i *= 2)
        {
            <li class="@(ViewBag.Items == i ? "active" : "") text-right">
                @Ajax.ActionLink(i.ToString(), "Index", new { page = ViewBag.CurrentPage, item = i }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "dynamicContent" })
            </li>
        }
    </ul>
</div>

<div class="navbar-left">
    @if (ViewBag.Pages != null)
    {
        <ul class="pagination pagination-sm">
            @for (int i = 1; i <= ViewBag.Pages; i++)
            {
                <li class="@(ViewBag.CurrentPage == i ? "active" : "")">
                    @Ajax.ActionLink(i.ToString(), "Index", new { page = i, item = ViewBag.Items }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "dynamicContent" })
                </li>
            }
        </ul>
    }
</div>