@model DataAccess.Model.Machine
@{
    ViewBag.Title = "Úprava stroje";
}

<h2>Úprava stroje @Model.Name</h2>

@Html.ValidationSummary()

@using (Html.BeginForm("Update", "Machine", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.BigImageName)
    @Html.HiddenFor(x => x.SmallImageName)
    @Html.HiddenFor(x => x.Name)

    <div class='form-group'>
        <label for="LastCheck" class="control-label">Poslední kontrola</label>
        <div class='input-group date col-md-5' id='LastCheck'>
            <input type='text' id="LastCheck" name="LastCheck" class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>

    <div class='form-group'>
        <label for="LastCheck" class="control-label">Následující kontrola</label>
        <div class='input-group date col-md-5' id='NextCheck'>
            <input type='text' id="NextCheck" name="NextCheck" class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Description, "Popis")
        @Html.TextAreaFor(x => x.Description, new { @class = "form-control description-area" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Status, "Stav")
        @Html.DropDownList("status", new SelectList(ViewBag.Stats,Model.Status), new{@class= "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Fault, "Popis závady")
        @Html.TextAreaFor(x => x.Fault, new { @class = "form-control description-area" })
    </div>
    <div class="form-group">
        <input type="file" class="btn btn-default" name="picture" />
        @if (Model.SmallImageName != null)
        {
            <img src="@Url.Content("~/Uploads/Machine/" + Model.SmallImageName)"/>
            @Html.ActionLink("Smazat obrázek", "DeletePicture", "Machine", new { id = Model.Id }, new { @class = "btn btn-danger" })
        }
    </div>
    <button type="submit" class="btn btn-primary">Upravit stroj</button>
}
<a href="#" onclick="history.go(-1)" class="btn btn-default">
    Zpět
</a>
<script type="text/javascript">
    $(function () {
        $('#LastCheck').datetimepicker({
            format: 'DD.MM.YYYY'
        });
        $('#NextCheck').datetimepicker({
            format: 'DD.MM.YYYY'
        });
    });
</script>
