@model DataAccess.Model.Machine
@{
    ViewBag.Title = "Úprava stroje";
}

<h2>Úprava stroje @Model.Name</h2>

@Html.ValidationSummary()

@using (Html.BeginForm("Update", "Machine", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.BigImageName)
    @Html.HiddenFor(x => x.SmallImageName)
    @Html.HiddenFor(x => x.Name)

    <div class='form-group'>
        <label for="LastCheck" class="control-label">Poslední kontrola</label>
        <div class='input-group date col-md-5' id='LastCheck'>
            <input type='text' id="LastCheck" name="LastCheck" class="form-control" value="@Model.LastCheck" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>

    <div class='form-group'>
        <label for="LastCheck" class="control-label">Následující kontrola</label>
        <div class='input-group date col-md-5' id='NextCheck'>
            <input type='text' id="NextCheck" name="NextCheck" class="form-control" value="@Model.NextCheck"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Description, "Popis")
        @Html.TextAreaFor(x => x.Description, new { @class = "form-control description-area" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Status, "Stav")
        @Html.DropDownList("status", new SelectList(ViewBag.Stats,Model.Status), new{@class= "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Fault, "Popis závady")
        @Html.TextAreaFor(x => x.Fault, new { @class = "form-control description-area" })
    </div>
    <div class="form-group">
        <label for="picture" class="control-label">Fotografie</label>
        <input type="file" class="btn btn-default" id="picture" name="picture" />
    </div>
    if (Model.SmallImageName != null)
    {
        <div class="form-group">
            <img src="@Url.Content("~/Uploads/Machine/" + Model.SmallImageName + ".jpg")" />
        </div>
    }

    <div class="form-group col-md-12">
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Upravit stroj</button>
        </div>
        @if (Model.SmallImageName != null)
        {
            <div class="col-md-2">
                @Html.ActionLink("Smazat obrázek", "DeletePicture", "Machine", new { id = Model.Id }, new { @class = "btn btn-danger" })
            </div>
        }
        <a href="#" onclick="history.go(-1)" class="btn btn-default col-md-1">
            Zpět
        </a>
    </div>
}
<script type="text/javascript">
    $(function () {
        $('#LastCheck').datetimepicker({
            format: 'DD.MM.YYYY',
            useCurrent: false
        });
        $('#NextCheck').datetimepicker({
            format: 'DD.MM.YYYY',
            useCurrent: false
        });
    });
</script>
